
body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  text-align: justify;
}

h1 {
  color: #FF5A5F;
  font-size: 30px;
  font-weight: 500;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  color: #7d7d7d;
}

table {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  white-space: normal;
  border-collapse: separate;
  text-align: justify;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  color: #7d7d7d;
  text-align: justify;
}

a {
  color: #ccc;
  text-decoration: none;
}
.img-circle {
  width: 190px;
  border-radius: 50%;
}

.movie-image {
  padding: 20px;
}

.img-width {
  width: 150;
}

#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.movies {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 30px auto;
}

.fa {
  font-size: 30;
}

a:hover {
  color: #FF5A5F;
}

@media (min-width: 320px) {
  .container {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 650px;
  }

}

@media (min-width: 892px) {
  .container {
    width: 850px;
  }

}

link:hover {
  background-image:
}

#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  color: #7d7d7d;
  margin: 30px;
  padding-top: 50px;
  text-align: 50%
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#page-content {
  margin-left: 300px;
}
